.btn {
    width: 75px;
    background-color: #283044;
    color: white;
    border-radius: 7px;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
}
