// @use '../abstracts' as *; how to use files in abstract folder

//	Headings
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
}

// Basic Text Style

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.hero h3 {
    font-size: 1.2rem;
}

.hero #nameheading {
    font-size: 3rem;
    margin: 0;
    line-height: 1.1;
}

.hero h3,
#nameheading,
p {
    color: white;
}

#nameheading #secondary {
    color: #e54829;
}

.aboutMe h1,
.myWork h1,
.contact h1 {
    color: white;
    text-transform: uppercase;

    & p {
        font-size: 1.2rem;
    }
}

.contact h5 {
    color: white;
    font-size: 1rem;
}

.social h4 {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
