//Primary project colors palette
$primary: #283044;
$secondary: #e54829;
$color3: #3d5a80;
$primary1: #004777;
$color5: #3e92cc;

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;
